<!DOCTYPE html>
<html>

<head>
  <!-- css -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- js -->
  <script src="/public/js/app.js"></script>
  {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"> --}}
  <link rel="icon" href="https://s2.ax1x.com/2020/02/08/1RRwb8.th.png">
</head>
</head>

<body>
  <div className="main-content">
    {{>header}}
    <p>This site was created by Kyle Yang. It uses weather fetch api.</p>

    <div className="image-list">
      <img class="port" src="https://s2.ax1x.com/2020/02/09/1haIr4.jpg">
      <img class="port" src="https://s2.ax1x.com/2020/02/09/1hacan.jpg">
      <img class="port" src="https://s2.ax1x.com/2020/02/09/1ha5MF.jpg">
      <img class="port" src="https://s2.ax1x.com/2020/02/09/1h3mq0.jpg">
      <img class="port" src="https://s2.ax1x.com/2020/02/09/1h3mq0.jpg">
      <img class="port" src="https://s2.ax1x.com/2020/02/09/1haoqJ.jpg">
      <img class="port" src="https://s2.ax1x.com/2020/02/09/1h33RJ.jpg">
      <img class="port" src="https://s2.ax1x.com/2020/02/09/1h3liF.jpg">
      <img class="port" src="https://s2.ax1x.com/2020/02/09/1hd6yD.jpg">

    </div>
  </div>
  {{>footer}}
</body>

</html>