<!DOCTYPE html>
<html>

<head>
  <!-- css -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- js -->
  <script src="/public/js/app.js"></script>
  <link rel="icon" href="https://s2.ax1x.com/2020/02/08/1RRwb8.th.png">
</head>
</head>

<body>
  {{>header}}
  <p>Description: {{name}}</p>
  <img class="port" src="https://s2.ax1x.com/2020/01/03/lUdGAs.jpg">
  {{>footer}}
</body>

</html>