<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="https://s2.ax1x.com/2020/02/08/1RRwb8.th.png">
</head>

<body>
  {{!-- 渲染header 加一个>号 --}}
  {{>header}}

  <p>some other small projects of Kyle</p>
  <div>
    <a href="">React pictures</a><br />
    <a href="">small Youtube</a>
  </div>

  {{>footer}}
</body>

</html>