h1 {
  color: grey;
}

body {
  color: #333333;
  font-family: arial;
  max-width: 650px;
  /* 0上下 auto左右 距离边界 */
  margin: 0 auto;
  /* 文字和文字box的边距 */
  padding: 0 16px;
  /*  */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}
footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

header a {
  color: #888888;
  margin-right: 16px;
  /* 去除underline */
  text-decoration: none;
}

input {
  border: 1px solid #cccccc;
  padding: 8px;
}
.port {
  width: 250px;
}

button {
  cursor: pointer;
  border: 1px solid #888888;
  color: white;
  background: #888888;
  padding: 8px;
}
.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* how many cloumns minimal 250 px ;1fr  */
  grid-gap: 0 10px;
  /* 边距 */
  grid-auto-rows: 10px;
}
img:hover {
  transform: scale(1.5);
}
img {
  -webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out;
  -o-transition: margin 0.5s ease-out;
}
.image-list img {
  width: 250px;
  grid-row-end: 2 span;
}
